<div class="preferences-wallet">
    <label class="control-label">
        {{ i18n "preferences.section.title" }}
    </label>

    <hr />

    <p><strong>{{ i18n "preferences.section.total_balance" }}:</strong> {{ this.totalBalance }} {{ this.walletTokenName }}</p>
    
    <ul class="wallet-list">
        {{#if this.userWallet}}
            <li>
                <div style="display: flex; align-items: center; gap: 10px;">
                    <span>
                        <a href="#" class="tooltip">ⓘ<span class="tooltiptext">{{ this.walletAddress }}</span></a>
                        <b>{{ i18n "preferences.section.unclaimed_balance_title" }}:</b> {{ this.walletBalance }} {{ this.walletTokenName }}
                    </span>

                    <DButton @class="btn-primary" @label="preferences.buttons.transfer_wallet" @disabled={{ true }} />
                </div>
            </li>
        {{/if}}

        {{#if this.privateUserWallet}}
            <li>
                <a href="#" class="tooltip">ⓘ<span class="tooltiptext">{{ this.privateWalletAddress }}</span></a>
                <b>{{ i18n "preferences.section.balance_title" }}:</b> {{ this.privateWalletBalance }} {{ this.walletTokenName }}
            </li>
        {{/if}}
    </ul>

    <hr />

    <div class="transactions-history">
        <label class="control-label">
            {{ i18n "preferences.section.transaction_history_title" }} ({{ this.walletTransactions.length }})
        </label>


        <div class="control-group" data-setting-name="user_chat_enabled">
            {{#if (gt this.walletTransactions.length 0)}}
                <table>
                    <tr>
                        <th style="text-align: center">#</th>
                        <th>{{ i18n "preferences.section.table.headings.hash" }}</th>
                        <th style="text-align: center">{{ i18n "preferences.section.table.headings.amount" }}</th>
                        <th>{{ i18n "preferences.section.table.headings.date" }}</th>
                    </tr>

                    {{#each this.walletTransactions as |v i|}}
                    <tr>
                        <td style="padding: 10px; text-align: center">
                            {{increment i}}
                        </td>
                        <td style="padding: 10px">
                            <a href="#"
                                target="_blank">
                                {{ v.tx_hash }}
                            </a>
                        </td>
                        <td style="padding: 10px; text-align: center">{{ v.tx_amount }} {{ this.walletTokenName }}</td>
                        <td style="padding: 10px">
                            {{ v.created_at }}
                        </td>
                    </tr>
                    {{/each}}
                </table>
            {{else}}
                <span class="text-muted">{{ i18n "preferences.section.no_transactions" }}</span>
            {{/if}}
        </div>
    </div>
</div>