<div class="preferences-wallet">
    {{#if this.userWallet}}
        <label class="control-label">
            {{ i18n "preferences.section.title" }}
        </label>

        <div class="control-group" data-setting-name="user_chat_enabled">
                <div class="info-row">
                    <p><b>{{ i18n "preferences.section.address_title" }}:</b> {{ this.userWallet }}</p>
                    <p><b>{{ i18n "preferences.section.balance_title" }}:</b> {{ this.walletBalance }} {{ this.walletTokenName }}</p>
                </div>

                <DButton @class="btn-primary" @label="preferences.buttons.transfer_wallet" @action={{ onTransferToggle }} />
        </div>
        
        <hr />
    {{/if}}

    <div class="transactions-history">
        <label class="control-label">
            {{ i18n "preferences.section.transaction_history_title" }} ({{ this.walletTransactions.length }})
        </label>


        <div class="control-group" data-setting-name="user_chat_enabled">
            {{#if (gt this.walletTransactions.length 0)}}
                <table>
                    <tr>
                        <th style="text-align: center">#</th>
                        <th>{{ i18n "preferences.section.table.headings.hash" }}</th>
                        <th style="text-align: center">{{ i18n "preferences.section.table.headings.amount" }}</th>
                        <th>{{ i18n "preferences.section.table.headings.date" }}</th>
                    </tr>

                    {{#each this.walletTransactions as |v i|}}
                    <tr>
                        <td style="padding: 10px; text-align: center">
                            {{increment i}}
                        </td>
                        <td style="padding: 10px">
                            <a href="#"
                                target="_blank">
                                {{ v.tx_hash }}
                            </a>
                        </td>
                        <td style="padding: 10px; text-align: center">{{ v.tx_amount }} {{ this.walletTokenName }}</td>
                        <td style="padding: 10px">
                            {{ v.created_at }}
                        </td>
                    </tr>
                    {{/each}}
                </table>
            {{else}}
                <span class="text-muted">{{ i18n "preferences.section.no_transactions" }}</span>
            {{/if}}
        </div>
    </div>
</div>